fastapi
fastapi_websocket_pubsub
uvicorn
konlpy
scikit-learn
transformers
torch
firebase-admin
httpx
beautifulsoup4
requests
asyncio
python-dotenv
websockets
aiohttp
pandas
numpy
xgboost
tensorflow
pydantic
keras